#about-me {
  display: flex;
}

#about-me-image {
  object-fit: cover;
  max-width: 40%;
}

#about-me-content {
  flex: 0 0 60%;
  padding: 20px;
}

#about-me h1,
#about-me-subheading {
  text-align: center;
  margin: 40px;
}

.about-me-body {
  line-height: 2;
  margin: 40px;
  text-align: left;
}

@media only screen and (max-width: 710px) {
  #about-me {
    flex-direction: column-reverse;
  }

  #about-me-image {
    max-height: calc(100vh - 80px);
    max-width: 100%;
  }

  #about-me-content {
    padding: 4px;
  }
}
